<div class="container w3-cursive mt-4 mb-4" style="position: relative;">
    <img src="images/ccp-cover.jpg" alt="" class="w3-image">
    <div style="position: absolute; top: 19%; left: 25%">
        <div class="chat" id="whatsapp">
            <a href='https://api.whatsapp.com/send/?phone=628128757131&text=Assalamualaykum. Saya mau pesan ...&app_absent=0'>
              <button>Chat kami<br> via whatsapp <i class="fa fa-whatsapp"></i></button>
            </a>
            <div>
                <p class="mt-2">Klik tombol hijau..</p>
                <p class="w3-hide-small"><i>bisa reservasi tempat...<br>atau pesan catering...</i></p>
            </div>
            
        </div>
    </div>
</div>